@font-face {
  font-family: 'Comfortaa';
  src: url('@/assets/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Questrial';
  src: url('@/assets/fonts/Questrial-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}