.btn {
  background-color: $light-blue;
  box-shadow: 0 4px 4px 0 #00000040;
  border: none;
  width: 200px;
  padding: 20px 0;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.1s;

  &:hover {
    background-color: $light-blue-darker;
  }

  &.btn-primary {
    background-color: $teal-blue;
  }

  &.btn-secondary {
    background-color: $pale-blue;
  }

  &.btn-third {
    background-color: #B8EAD8;
  }
}
